<section
  class="pt-5"
  style="background-color: white"
  *ngFor="
    let item of products;
    paginate: { itemsPerPage: 5, currentPage: pages }
  "
>
  <div class="container py-2 pt-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-8 col-sm-9 col-xs-7 col-xl-10">
        <div class="card rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-1 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="{{ item.image }}" class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: #50402c"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{ item.name }}</h5>

                <div class="mt-1 mb-0 text-muted small">
                  <span>{{ item.description }}</span>
                  <span class="text-primary"></span>
                  <span>{{ item.quantity }} Quantity</span>
                </div>
              </div>
              <div
                class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
              >
                <div class="d-flex flex-row align-items-center mb-0">
                  <h4 class="mb-1 me-5">{{ item.price }}L.E</h4>
                </div>
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4">
                  <button class="btn Details btn-sm" type="button">
                    Details
                  </button>

                  <div fxLayout="row" style="margin-top: 26px">
                    <button
                      type="button"
                      class="button btn"
                      (click)="counter_mins(item.name)"
                    >
                      <img src="assets/images/mins.png" class="plus" />
                    </button>

                    <h3
                      class="card-text inline cart-count"
                      style="margin-top: 13px"
                    >
                      {{ item.quantity }}
                    </h3>

                    <button
                      type="button"
                      class="button btn"
                      (click)="counter_plus(item.name)"
                    >
                      <img src="assets/images/plus.png" class="plus" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="margin-top: 4rem; text-align: center" *ngIf="products.length > 0">
  <button
    class="btn Cart btn-sm mt-2 Details btn-sm"
    type="button"
    routerLink="/payment"
    style="width: 9rem; height: 4rem; background-color: #50402c"
  >
    <h4 style="color: white">BUY</h4>
  </button>
</div>

<div class="empty" *ngIf="products.length == 0">
  <h1>CARD IS EMPTY</h1>
</div>

<div style="text-align: center">
  <pagination-controls
    style="color: #50402c"
    (pageChange)="pages = $event"
  ></pagination-controls>
</div>
