.container-signup{
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signup {
  width: 100%;
  max-width: 380px;
  padding: 10px;
  margin: auto;
}
.container-img {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}
.profilechange {
  border: 1px solid white;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0.2px 1px,
    rgba(0, 0, 0, 0.16) 0px 0.2px 1px;
  background-color: white;
  color: #50402c;
  position: absolute;
  bottom: 5px;
  left: 57%;
}
.container-img input[type="file"] {
  display: none;
}
.profilechange i {
  padding: 5px;
  cursor: pointer;
  color: var(--white);
}
.profileicon {
  font-size: 13px;
}
.color-text {
  color: #50402c;
}
.check {
  display: flex;
  justify-content: center;
}

.icons {
  padding: 2px;
  color: #5f5f5f;
  font-size: 30px;
}
.icons2 {
  padding: 7px;
  color: #5f5f5f;
  font-size: 20px;
}


.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 12px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.form-signup input[type="text"] {

  padding: 10px 10px 10px 39px;
  box-shadow: 0px 0px 2px 1px #eeeaea;
  outline: 0;
  border-color: #eeeaea;
  font-size: 16px;
  height: 50px;
  position: relative;
}
.form-signup input::placeholder {
  color: #aeaeae;
  font-size: 12px;
}
.icon {
  color: #a7a7a7;
  min-width: 50px;
  position: absolute;
  z-index: 3;
  font-size: 16px;
  top: 18px;
  left: 15px;
}
.form-signup input[type="text"]:focus {
  border: 1px solid #f7e3ac;
  box-shadow: 0px 0px 2px 2px rgba(31, 149, 161, 0.2);
}

input[type="text"]:focus + i {
  color: #f7e3ac;
}

.color-button,
.color-button:hover {
  background-color: #f7e3ac;
  color: white;
  font-weight: bold;
}

button{

  margin: auto 35%;
  background-color: #f7e3ac;
}
