<div class="container-signup">
  <form class="form-signup">
      <h1 class="h3 mb-0 fw-bold text-center color-text">SignUp</h1>
      <p class="fw-bold text-center mb-0">First Step</p>
      <div class="check">
        <i class="fas fa-check-circle icons"></i>
        <i class="fas fa-long-arrow-alt-right icons2"></i>
        <i class="fas fa-check-circle icons"></i>
        <i class="fas fa-long-arrow-alt-right icons2"></i>
        <i class="fas fa-check-circle icons"></i>
      </div>
      <p class=" fw-bold text-center mb-0 mt-1">Upload your image</p>
      <div class="container-img">

        <label action="" class="profilechange">
          <input
            type="file"
            ="pic"

          />
          <i class="fas fa-camera profileicon"></i>
        </label>
      </div>

      <label class="fw-bold">First </label>
      <div class="mb-2 input-container">
        <input
          type="text"
          id="fname"
          class="form-control"
          placeholder="Enter your first "
          required
        />
        <i class="fas fa-user icon"></i>
      </div>

      <label class="fw-bold">Last </label>
      <div class="mb-2 input-container">
        <input
          type="text"
          id="lname"
          class="form-control"
          placeholder="Enter your last "
          required
        />
        <i class="fas fa-user icon"></i>
      </div>

      <Button
        className="mb-2 btn btn-lg color-button btn-block fw-bold"

      >
        Next
      </Button>

  </form>
</div>
