<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->


  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div style="background-color:rgb(247,227,172) ;" class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png"
            alt="">
          <!-- Profile picture help block-->
          <!-- <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div> -->
          <!-- Profile picture upload button-->
          <!-- <button class="btn btn-primary" type="button">Upload new image</button> -->
          <!-- <input  value="Upload new image" type="file" (change)="onFileSelected()"/> -->
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">First Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">Mohamed</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Last Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">Zedan</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Age</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">27</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">example@example.com</p>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mobile</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">(098) 765-4321</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Save changes button-->
      <button style="float: right;margin: 10px;background-color:rgb(247,227,172) ;" class="btn btn-secondary"
        type="button" routerLink="/EditProfile">Edit Profile</button>
      <button style="float: right;margin: 10px; " class="btn btn-secondary" type="button">Change Password</button>

      <!-- <input class="btn btn-primary" type="button" value="Save changes" (click)="SaveChanges()" /> -->
    </div>
  </div>
</div>