<div class="container-login">
  <form class="form-signin" [formGroup]="form" (ngSubmit)="Login()">
    <h1 class="h4 mb-3 fw-bold text-center color-text">Login</h1>
    <div class="container-img mb-2">
      <img
        src="../../../assets/images/logo.png"
        alt=""
        width="200"
        height="100"
      />
    </div>
    <label htmlFor="inputEmail" class="fw-bold"> Email </label>
    <div class="mb-3 input-container">
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Enter your email"
        formControlName="Email"
        required
        autofocus
      />
      <i class="fas fa-envelope icon"></i>
    </div>
    <div
      *ngIf="form.controls.Email.errors && form.controls.Email.touched"
      class="text-danger"
    >
      <i class="fas fa-exclamation-triangle"></i>
      Please enter valid Email
    </div>
    <label htmlFor="inputPassword" class="fw-bold"> Password </label>
    <div class="mb-3 input-container" *ngIf="!PassIcon.visable">
      <input
        type="text"
        id="inputPassword"
        class="form-control"
        placeholder="Enter your password"
        formControlName="Password"
        required
      />
      <i class="fas fa-lock icon"></i>
      <span class="span-eye">
        <i class="fas fa-eye" (click)="getIcon()"></i>
      </span>
    </div>
    <div class="mb-3 input-container" *ngIf="PassIcon.visable">
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Enter your password"
        formControlName="Password"
        required
      />
      <i class="fas fa-lock icon"></i>
      <span class="span-eye">
        <i class="fas fa-eye-slash" (click)="disableIcon()"></i>
      </span>
    </div>
    <div
      *ngIf="form.controls.Password.errors && form.controls.Password.touched"
      class="text-danger"
    >
      <i class="fas fa-exclamation-triangle"></i>
      Please enter the correct password
    </div>
    <div class="checkbox mb-3">
      <label class="checkbox-label">
        <input
          class="rememberMe"
          checked="{rememberMe}"
          type="checkbox"
          value="remember-me"
        />
        Remember me
        <span class="checkmark"></span>
      </label>
    </div>

    <!-- <a href="" class="mb-3 fw-bold color-text d-block text-center">
      Forget your password?
    </a> -->

    <Button
      class="mb-2 btn btn-lg btn-block fw-bold"
      type="submit"
      [disabled]="!form.valid"
    >
      Login
    </Button>
    <p class="para-center text-center">
      Create new account ?
      <a routerLink="/Register" class="fw-bold color-text"> Sign Up </a>
    </p>
  </form>
</div>
