
<div class="container-xl px-4 mt-5 pt-5" style="margin-left: 18rem; width: 80%;">
    <!-- Account page navigation-->


    <div class="row" style="text-align: center;">

        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div style="background-color:rgb(247,227,172) ;" class="card-header">Change Password</div>
                <div class="card-body">
                    <form [formGroup]="form">

                        <div class="row gx-3 mb-3">
                            <div class="form-group">
                                <label class="mb-2">Old Password</label>
                                <input formControlName="oldPassword" type="password" class="form-control">
                            </div>
                            <div *ngIf="!oldPassword.valid&& oldPassword.touched"
                            class="text-danger">
                            <i class="fas fa-exclamation-triangle"></i>
                            Old Password is Required
                          </div>

                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3 mt-4">

                            <div class="form-group">
                                <label class="mb-2">New Password</label>
                                <input formControlName="newPassword" type="password" class="form-control">
                            </div>
                            <div *ngIf="newPassword.errors && newPassword.touched" class="text-danger">
                              <i class="fas fa-exclamation-triangle"></i>
                              Password must be bigger than 5 and must contain characters and numbers
                            </div>
                            <div class="form-group mt-4">
                                <label class="mb-2">Confirm Password</label>
                                <input formControlName="confirmPassword" type="password" class="form-control">
                            </div>


                            <div *ngIf="!confirmPassword.valid && confirmPassword.touched"
                            class="text-danger">
                            <span *ngIf="confirmPassword.hasError('required')">
                              <i class="fas fa-exclamation-triangle"></i>
                              Please confirm password
                            </span>
                          </div>
                          <div *ngIf="form.hasError('notmatched') && confirmPassword.valid"
                            class="text-danger">
                            <i class="fas fa-exclamation-triangle"></i>
                            Password not matched
                          </div>
                        </div>

                        <!-- Save changes button-->
                        <!-- <button class="btn btn-primary" type="button">Save changes</button> -->

                        <button style="background-color:#50402c;" class="btn btn-secondary"
                            type="button" (click)="ChangePassword()" [disabled]="!form.valid">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
