<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->


    <div class="row">

        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div style="background-color:rgb(247,227,172) ;" class="card-header">Change Password</div>
                <div class="card-body">
                    <form>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label >Old Password</label>
                                <input formControlName="oldPassword" type="password" class="form-control">
                                <!-- <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
                                    <div *ngIf="oldPassword.errors.required">
                                        Old password is required.
                                    </div>
                                    <div *ngIf="oldPassword.errors.invalidOldPassword">
                                        Old password is invalid.
                                    </div>
                                </div> -->
                            </div>

                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">

                            <div class="form-group">
                                <label>New Password</label>
                                <input formControlName="newPassword" type="password" class="form-control">
                                <!-- <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
                                    <div *ngIf="newPassword.errors.required">New password is required.</div>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label >Confirm Password</label>
                                <input formControlName="confirmPassword" type="password" class="form-control">
                                <!-- <div *ngIf="confirmPassword.touched && confirmPassword.invalid"
                                    class="alert alert-danger">
                                    <div *ngIf="confirmPassword.errors.required">Confirm password is required.</div>
                                </div> -->
                                <!-- <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch"
                                    class="alert alert-danger">
                                    Passwords do not match.
                                </div> -->
                            </div>
                        </div>

                        <!-- Save changes button-->
                        <!-- <button class="btn btn-primary" type="button">Save changes</button> -->

                        <button style="background-color:rgb(247,227,172) ;" class="btn btn-secondary"
                            type="button">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>