<div style="margin-top: 100px;" class="container ">
    <button class="btn Details btn-sm">add Clinic</button>
</div>
<div class=" container mb-5" *ngFor="let c of clinik">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 mt-5">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1">
                <img class="img-fluid img-responsive rounded product-image" src="https://i.pinimg.com/originals/56/94/4e/56944e6c97cb77da412872caf2cdd14c.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h2>{{c.name}}</h2>
                    <div class="d-flex flex-column">
                        <p>mobile: {{c.phone}}</p>
                        <p>Address: {{c.address}}</p>
                    </div>
  
                    <p class="text-justify para mb-0 d-flex flex-wrap">Jungle pet clinic was established in 2005 with the aim of providing high quality veterinary care for your pets.
                         We offer a comprehensive range of medical, surgical and laboratory services.<br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-column mt-4">
                        <button
                        class="bttn btn-primary btn-sm" type="button"><img class="location" src="../../../assets/images/locationgoogle.jfif" alt=""></button></div>
                
                    </div>
                    <div class="d-flex flex-column mt-4">
                        <button class="btn Details btn-sm" type="button" (click)="edit()">
                          edit
                        </button>
                        <button class="btn Cart btn-sm mt-2" type="button" (click)="delete(c.name,c.id)">
                          delete
                        </button>
                      </div>
            </div>
  
            </div>
        </div>
    </div>
  