<div class="container pt-5" style="margin-top: 4rem">
  <div class="row justify-content-center align-items-center">
    <div class="single_product">
      <div
        class="container-fluid"
        style="background-color: #fff; padding: 11px"
      >
        <div class="row">
          <div class="col-lg-4 order-lg-4 order-1">
            <div class="image_selected">
              <img
                style="width: 400px; height: 400px"
                src="{{ Pet.image }}"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-6 order-3">
            <div class="product_description">
              <div
                class="product_name"
                style="font-size: 35px; line-height: 1em"
              >
                {{ Pet.name }}
              </div>
              <br /><br />
              <div>
                <span style="font-size: 25px" class="product_price"
                  >{{ Pet.price }} LE</span
                >
                <!-- <span class="product_discount"> <span style='color:black'>₹ 2,000<span> -->
                <!-- <div> <span class="product_saved">You Saved:</span> <span style='color:black'>₹ 2,000<span> -->
                <hr class="singleline" />
                <div class="product_info">
                  <label style="font-weight: bold" for="type"
                    >Type&nbsp;:&nbsp;</label
                  ><span>{{ Pet.category_Name }}</span>
                </div>
                <hr class="singleline" />
                <div class="product_info">
                  <label style="font-weight: bold" for="age"
                    >Age&nbsp;:&nbsp;</label
                  ><span>{{ Pet.age }}</span>
                </div>
                <hr class="singleline" />
                <div class="product_info">
                  <label style="font-weight: bold" for="sex"
                    >Sex&nbsp;:&nbsp;</label
                  ><span>{{ Pet.sex }}</span>
                </div>
                <hr class="singleline" />
                <div>
                  <span class="product_info"
                    >{{ Pet.description
                    }}<span>
                      <hr class="singleline" />
                      <div class="order_info d-flex flex-row">
                        <form action="#">
                          <div class="row">
                            <div class="color col-xs-6">
                              <button
                                style="
                                  margin: 10px;
                                  background-color: rgb(247, 227, 172);
                                  color: #50402c;
                                "
                                type="button"
                                class="btn btn-primary shop-button"
                              >
                                Add to Cart
                              </button>
                              <button
                                style="
                                  margin: 10px;
                                  background-color: rgb(247, 227, 172);
                                  color: #50402c;
                                  float: right;
                                "
                                type="button"
                                class="btn btn-success shop-button"
                              >
                                <img
                                  src="../../../assets/images/heart2.png"
                                  alt=""
                                />
                              </button>
                              <!-- <div class="product_fav"><i class="fas fa-heart"></i></div> -->
                            </div>
                          </div>
                        </form>
                      </div></span
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
