<div class="container-signup">
  <form class="form-signup" [formGroup]="RegForm" (ngSubmit)="add()">

      <h1 class="h3 mb-0 fw-bold text-center color-text">SignUp</h1>
      <p class="fw-bold text-center">Final Step</p>
      <div class="check">
        <i class="fas fa-check-circle iconsc"></i>
        <i class="fas fa-long-arrow-alt-right icons2c"></i>
        <i class="fas fa-check-circle iconsc"></i>

      </div>

      <label for="inputEmail" class="fw-bold">
        Email Address
      </label>
      <div class="input-container mb-4">
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          placeholder="Enter your email"
          autofocus
          required
          formControlName="Email"
        />
        <i class="fas fa-envelope icon"></i>
      </div>

      <div *ngIf="Email.errors&&Email.touched" class="text-danger">
        <i class="fas fa-exclamation-triangle"></i>
        Enter Valid Email like <span>(example@gmail.com)</span>
      </div>

      <label for="inputPassword" class="fw-bold">
        Password
      </label>

      <div class="mb-4 input-container">
        <input
          type= "password"
          id="inputPassword"
          class="form-control"
          placeholder="Enter your password"
          required
          formControlName="Password"
        />
        <i class="fas fa-lock icon"></i>

        <span
          class="span-eye"

        >

          <!--i class={visible ? "fas fa-eye" : "fas fa-eye-slash"}></i>-->

        </span>
      </div>
      <div *ngIf="Password.errors&&Password.touched" class="text-danger">
        <i class="fas fa-exclamation-triangle"></i>
        Password must be bigger than 5 and must contain characters and numbers
      </div>

      <label for="inputPassword" class="fw-bold">
        Confirm Password
      </label>
      <div class="mb-4 input-container">
        <input
          type= "password"
          id="ConPassword"
          class="form-control"
          placeholder="Enter your password"
          required
          formControlName="ConfirmPassword"
        />
        <i class="fas fa-lock icon"></i>

        <span
          class="span-eye"

        >
        </span>
      </div>

      <div  *ngIf="!confirmPassword.valid && (confirmPassword.touched )" class="text-danger">
        <span *ngIf="confirmPassword.hasError('required')">
          <i class="fas fa-exclamation-triangle"></i>
          Please confirm password
        </span>
      </div>
        <div *ngIf="RegForm.hasError('notmatched') && confirmPassword.valid" class="text-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Password not matched
        </div>


      <button
        type="submit"
        class="mb-2 btn btn-lg btn-block fw-bold"
        [disabled]="!RegForm.valid"
      >
       Finish
      </button>

  </form>
</div>
