<!-- card for products -->

<div class="pt-5">
  <div class="card-title">
    <a class="nav-link btn button" routerLink="/Products">
      <img style="height: 4rem" src="assets/images/Products.png" />
    </a>
  </div>

  <div class="container slide" #container>
    <div
      class="left"
      *ngIf="totalPages_products > 1"
      (click)="currentPage_products != 1 && changePage_products(-1)"
      [ngClass]="{ disabled: currentPage_products === 1 }"
    >
      &#10094;
    </div>
    <div class="cards" [ngClass]="{ 'w-100': totalPages_products === 1 }">
      <div
        class="overflow"
        [ngStyle]="{
          width: overflowWidth_products,
          left: pagePosition_products
        }"
      >
        <div
          class="card1 card"
          *ngFor="let i of arr_products; let index = index"
          [ngStyle]="{ width: cardWidth_products }"
        >
          <a >
            <img class="card-img" src="{{ i }}" />
          </a>
        </div>
      </div>
    </div>
    <div
      class="right"
      *ngIf="totalPages_products > 1"
      (click)="
        currentPage_products != totalPages_products && changePage_products(+1)
      "
      [ngClass]="{ disabled: currentPage_products === totalPages_products }"
    >
      &#10095;
    </div>
  </div>
</div>
<div class="card-title">
  <a class="nav-link btn button" routerLink="/Products">
    <img style="height: 4rem" src="assets/images/All Products.png" />
  </a>
</div>


<section
  class="pt-0"
  style="background-color: white"
  *ngFor="let item of FilteredProduct"
>
  <div class="container py-2 pt-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-8 col-sm-9 col-xs-7 col-xl-10">
        <div class="card rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-1 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="{{ item.image }}" class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: #50402c"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{ item.name }}</h5>

                <div class="mt-1 mb-0 text-muted small">
                  <span>{{ item.description }}</span>
                  <span class="text-primary"> • </span>
                  <span>{{ item.quantity }} Quantity</span>
                </div>
              </div>
              <div
                class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
              >
                <div class="d-flex flex-row align-items-center mb-0">
                  <h4 class="mb-1 me-5">{{ item.price }}L.E</h4>

                  <lord-icon
                    src="https://cdn.lordicon.com/xryjrepg.json"
                    trigger="morph"
                    colors="primary:#50402c"
                    scale="40"
                    state="morph"
                    style="width: 50px; height: 50px"
                    class="ms-5"
                  >
                  <a (click)="addtofavourite(item)"></a>
                  </lord-icon>
                </div>
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4">
                  <button class="btn Details btn-sm" type="button" routerLink="/productDetails/{{item.id}}">
                    Details
                  </button>
                  <button class="btn Cart btn-sm mt-2" type="button" (click)="addtocardpro(item)">
                    Add to Cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
