<div class="container mx-auto" style="margin: auto;">
        <div class="col-12 mt-4" >
            <div class="card p-3"style="background-color: rgb(247,227,172);color: #50402c;">
                <p class="mb-0 fw-bold h4">Payment Methods</p>
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="card p-3">
                <div class="card-body border p-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label style="font-size: 20px;" class="form-check-label" for="flexRadioDefault1">
                          cash on delivery
                        </label>
                      </div>
                      <div class="form-check mt-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label style="font-size: 20px;" class="form-check-label" for="flexRadioDefault2">
                            <div class="pay card-body ">
                                <p>
                                    <a class="btn btn-primary  w-100 h-100 d-flex align-items-center justify-content-between "
                                        data-bs-toggle="collapse" href="#collapseExample" role="button"
                                        aria-controls="collapseExample">
                                        <label class="fw-light" style="margin-left: 0px;">Credit Card</label>
                                        <span class="">
                                            <span class="fab fa-cc-amex"></span>
                                            <span class="fab fa-cc-mastercard"></span>
                                            <span class="fab fa-cc-discover"></span>
                                        </span>
                                    </a>
                                </p>
                                <div class="collapse show p-3 pt-0" id="collapseExample">
                                    
                                        <div class="col-lg-12" style="margin: auto;">
                                            <form action="" class="form" >
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form__div">
                                                            <input type="text" class="form-control" placeholder=" ">
                                                            <label for="" class="form__label">Card Number</label>
                                                        </div>
                                                    </div>
            
                                                    <div class="col-6">
                                                        <div class="form__div">
                                                            <input type="text" class="form-control" placeholder=" ">
                                                            <label for="" class="form__label">MM / yy</label>
                                                        </div>
                                                    </div>
            
                                                    <div class="col-6">
                                                        <div class="form__div">
                                                            <input type="password" class="form-control" placeholder=" ">
                                                            <label for="" class="form__label">cvv code</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form__div">
                                                            <input type="text" class="form-control" placeholder=" ">
                                                            <label for="" class="form__label">name on the card</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="btn btn-primary w-100 fw-bold" style="background-color: rgb(247,227,172);color: #50402c;">Submit</div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </label>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 mb-lg-0 mb-3">
                            <p class="h4 mb-0">Summary</p>
                            <p class="mb-0"><span class="fw-bold">Product:</span><span class="c-green">: Name of
                                    product</span>
                            </p>
                            <p class="mb-0">
                                <span class="fw-bold">Price:</span>
                                <span class="c-green">:$452.90</span>
                            </p>
                            <p class="mb-lg-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus inventore libero vel quas amet eos sequi recusandae enim at numquam.</p>
                        </div>
                   
                
        <div class="col-12 mt-4">
            <div class="btn btn-primary payment fw-bold"style="background-color: rgb(247,227,172);color: #50402c;">
                Make Payment
            </div>
        </div>
    </div>
</div>
</div>