.form-floating{
    margin: 10px;
}
.here{
    background-color: rgb(247,227,172);
    color: #50402c;
    width: 150px;
    height: 30px;
}
.cont{
    margin-top: 90px;
}
.gender{
    margin-left:15px ;
}